input {
  width: 100%;
  padding: 0.6rem 0.3rem;
  border-radius: 0.4rem;
  border-color: rgba(0, 0, 0, 0.18);
}
.labels{
  display: flex;
  gap: 6rem;
  padding: 0;
  margin: 0;
}
.cvc-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 2rem;
}
.expiry{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
}
.expMon{
  margin-left: 0;
  width: 4.7rem;
}
.expYear{
  margin-left: 0;
  width: 4.7rem;
  margin-right: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5rem;
  padding: 1rem;
}
button {
  color: white;
  background-color: black;
  padding: 0.6rem 0.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
label {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
